<h1>Showing the Article</h1>

<p>
    Title: <%= @article.title %>
</p>

<p>
    Description: <%= @article.description %>    
</p>

<%= link_to 'Edit this article', edit_article_path(@article) %> <br>
<%= link_to 'Back to Article Listing page', articles_path %>