<body>
    <h1>About</h1>
    <img src = "https://66.media.tumblr.com/5d598e50fdb9bc3f7f377d5729afcd17/tumblr_n838aejZ9u1t19jpho1_400.gif" alt="Waterfall" style="width: 300px; height: 300px">
    <hr></hr>
    <div>
        <p>Hi, I am Saurabh Sharan and this is my webpage. Please enjoy watching the waterfall else click on <%= link_to 'Home', root_path %> to go back to the Homepage</p>
        <p>To access the blog, please go to <%= link_to 'AlphaBlog', articles_path %></p>
    </div>
</body>