<body>
    <h1>Home</h1>
    <img src = "https://66.media.tumblr.com/5d598e50fdb9bc3f7f377d5729afcd17/tumblr_n838aejZ9u1t19jpho1_400.gif" alt="Waterfall" style="width: 300px; height: 300px">
    <hr></hr>
    <div>
        <p>This is my homepage. Do you wish to know more about this page? Click on <%= link_to 'About', about_path %> to find out</p>
    </div>
</body>