<div class= "container">
    <footer class="footer">
        <small>
            Copyright © <a href="https://se.linkedin.com/in/saurabh-sharan-77992231">Alpha Blog</a>

            by <a href="https://se.linkedin.com/in/saurabh-sharan-77992231">Saurabh Sharan</a>
            
        </small>
         <nav>

            <ul>

                <li><%= link_to "About", about_path %></li>

            </ul>

        </nav>
    </footer>
</div>